html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;
}

body {
    --color-black: #2b2821;
    --color-white: rgb(236, 224, 208);    
    --color-brown: #624c3c;    
    --color-salmon: #d9ac8b;    
    --color-blue: #243d5c;    
    --color-bluegrey: #5d7275;    
    --color-lightblue: #5c8b93;    
    --color-beige: #b1a58d;    
    --color-red: #b03a48;    
    --color-orange: #d4804d;    
    --color-yellow: #e0c872;    
    --color-green: #3e6958;
    background-size: 50px;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin:0;
    transition: background-color 1s;
}

body.touchscreen .touchscreen-hide {
    display: none;
}

body:not(.touchscreen) .touchscreen-show {
    display: none;
}

.landscape-show {
    display: none;
}

.landscape-hide {
    display: none;
}

@media (max-height: 540px) {
    .landscape-hide {
        display: none;
    }
    .landscape-show {
        display: none;
    }
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

#render-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    outline: none;
    border: none;
    z-index: 0;
}

#touch-input-move {
    position: fixed;
    z-index: 1;
    width: 120px;
    height: 120px;
    bottom: 20px;
    left: 20px;
}

.touch-joystick svg {
    position: relative;
}

#center-pointer {
    position: fixed;
    width: 20px;
    height: 20px;
    left: calc(50vw - 10px);
    top: calc(50vh - 10px);
}

#home-page {
    font-family: Roboto;
}

#home-page h1 {
    position: fixed;
    top: 0;
    left: calc(50vw - 140px);
    text-align: center;
    width: 280px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

#home-page h1 .subtitle {
    position: absolute;
    bottom: -30px;
    right: 0;
    font-size: 20px;
    font-weight: 300;
}

#start {
    position: fixed;
    bottom: 50px;
    left: calc(50vw - 100px);
    width: 200px;
    height: 60px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 5px;
    border: 2px solid black;
    font-family: Roboto;
}

#dodo-customize-menu {
    position: fixed;
    top: 25%;
    left: calc(50vw + 300px);
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    font-weight: 300;
}

#dodo-customize-menu .label {
    display: block;
    margin-left: 10px;
}

#dodo-customize-menu .value {
    display: inline-block;
    width: 160px;
    text-align: center;
}

#screen-loger-container {
  display: block;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1;
  color: lime;
}

.screen-loger-line {
  font-family: monospace;
}