html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;
}

body {
    --color-black: #2b2821;
    --color-white: rgb(236, 224, 208);    
    --color-brown: #624c3c;    
    --color-salmon: #d9ac8b;    
    --color-blue: #243d5c;    
    --color-bluegrey: #5d7275;    
    --color-lightblue: #5c8b93;    
    --color-beige: #b1a58d;    
    --color-red: #b03a48;    
    --color-orange: #d4804d;    
    --color-yellow: #e0c872;    
    --color-green: #3e6958;
    background-size: 50px;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin:0;
    transition: background-color 1s;
}

body.touchscreen .touchscreen-hide {
    display: none;
}

body:not(.touchscreen) .touchscreen-show {
    display: none;
}

.landscape-show {
    display: none;
}

.landscape-hide {
    display: none;
}

@media (max-height: 540px) {
    .landscape-hide {
        display: none;
    }
    .landscape-show {
        display: none;
    }
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
}

a:hover { 
    text-decoration: none; 
}

a:active { 
    text-decoration: none; 
}

#render-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    outline: none;
    border: none;
    z-index: 0;
}

#touch-input-move {
    position: fixed;
    z-index: 1;
    width: 120px;
    height: 120px;
    bottom: 20px;
    left: 20px;
}

.touch-joystick svg {
    position: relative;
}

#center-pointer {
    position: fixed;
    width: 20px;
    height: 20px;
    left: calc(50vw - 10px);
    top: calc(50vh - 10px);
}

#home-page {
    font-family: Roboto;
}

#home-page h1 {
    position: fixed;
    top: 0;
    left: calc(50vw - 140px);
    text-align: center;
    width: 280px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

#home-page h1 .subtitle {
    position: absolute;
    bottom: -30px;
    right: 0;
    font-size: 20px;
    font-weight: 300;
}

#player-name-label {
    position: fixed;
    bottom: 180px;
    left: calc(50vw - 100px);
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto;
}

#player-name {
    position: fixed;
    bottom: 140px;
    left: calc(50vw - 110px);
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
    border: 2px solid black;
    font-family: Roboto;
    padding: 5px 10px 5px 10px;
}

#password-label {
    position: fixed;
    bottom: 240px;
    left: calc(50vw - 100px);
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto;
}

#password-value {
    position: fixed;
    bottom: 200px;
    left: calc(50vw - 110px);
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
    border: 2px solid black;
    font-family: Roboto;
    padding: 5px 10px 5px 10px;
}

#start {
    position: fixed;
    bottom: 50px;
    left: calc(50vw - 100px);
    width: 200px;
    height: 60px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 5px;
    border: 2px solid black;
    font-family: Roboto;
}

#dodo-customize-menu {
    position: fixed;
    top: 200px;
    right: 100px;
    width: fit-content;
    font-weight: 300;
    text-align: center;
}

body.vertical #dodo-customize-menu {
    top: 130px;
    right: 10px;
}

#dodo-customize-menu .label {
    display: block;
    text-align: left;
    margin-left: 15px;
}

#dodo-customize-menu button {
    border-radius: 4px;
    border: 1px solid white;
    background-color: black;
    height: 22px;
    width: 22px;
    padding: 0;
    font-size: 12px;
    color: white;
}

#dodo-customize-menu .value {
    display: inline-block;
    width: 160px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    overflow: none;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid white;
    vertical-align: top;
}

body.vertical #dodo-customize-menu .value{
    right: 10px;
    width: 60px;
}

#dodo-color-picker {
    right: 100px;
    top: 420px;
}

body.vertical #dodo-color-picker {
    top: 380px;
    right: 10px;
    width: 290px;
}

#action-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

#menu-bar {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 4;
}

.tile {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}

.bar-tile {
    position: relative;
    margin: 10px;
}

.bar-tile .label {
    position: absolute;
    font-family: Roboto;
    color: black;
    width: 16px;
    text-align: center;
    top: 0px;
    left: -20px;
    border-radius: 4px;
    background-color: #ffffff40;
    font-size: 14px;
}

.bar-tile .label.right {
    left: auto;
    right: -20px;
}

.bar-tile.highlit {
    border: 2px solid rgb(255, 255, 255);
}

.bar-tile.equiped {
    border: 2px solid rgb(255, 255, 255);
    outline: 2px solid rgb(255, 255, 255);
}

#delete-dragged-brick {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 900;
    text-align: center;
    background-color: #ff0000D0;
    background-image: url("../datas/icons/delete_icon.svg");
    background-size: contain;
    border-color: white;
    pointer-events: none;
}

#rotate-selected-brick {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    background-color: #000000D0;
    background-image: url("../datas/icons/rotate_icon.svg");
    background-size: contain;
    border-color: white;
}

#screen-loger-container {
  display: block;
  position: fixed;
  left: 100px;
  top: 10px;
  z-index: 1;
  color: lime;
  pointer-events: none;
}

.screen-loger-line {
  font-family: monospace;
  pointer-events: none;
}

#dialog-container {
    --dialog-container-width: min(800px, calc(100vw - 30px));
    --dialog-container-side-padding: 10px;
    position: fixed;
    left: calc(50vw - var(--dialog-container-width) * 0.5 - var(--dialog-container-side-padding));
    bottom: 0;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    width: var(--dialog-container-width);
    background-color: #2b2821D0;
    padding: 0px var(--dialog-container-side-padding) 10px var(--dialog-container-side-padding);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media (width > 1800px) {
    #dialog-container {
        left: calc(50vw - 500px);
        font-size: 20px;
        width: 1000px;
    }
}

#dialog-lines-container {
    max-height: 300px;
    overflow-y: auto;
}

#dialog-container .dialog-title {
    color: white;
    background-color: #2b2821;
    font-family: Roboto;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -1px;
    margin-left: -11px;
    border: 1px solid white;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dialog-line {
    margin-bottom: 5px;
}

.dialog-line .text {
    display: block;
    text-align: left;
}

.dialog-response-line {
    --dialog-response-line-width: min(400px, 80vw);
    margin-left: calc((var(--dialog-container-width) - var(--dialog-response-line-width)) * 0.5);
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: var(--dialog-response-line-width);
    padding: 2px 0px 2px 0px;
}

.dialog-response-line.selected {
    border: 2px solid white;
    background-color: #2b2821A0;
}

.dialog-response-line.rejected {
    opacity: 50%;
}


.dialog-response-line .index {
    display: inline-block;
    font-weight: 500;
    width: 30px;
    text-align: right;
    padding-right: 20px;
}

.dialog-response-line .text {
    display: inline-block;
    padding-right: 20px;
}

@media (width < 1200px) {
    .dialog-response-line .index {
        width: 20px;
        padding-right: 10px;
    }

    .dialog-response-line .text {
        padding-right: 10px;
    }
}