.panel {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    background-color: #272b2e;
    color: white;
}

/* Color Picker */

color-picker {
    position: fixed;
    z-index: 2;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    width: 235px;
}

color-picker .container {
    margin: 0;
}

color-picker h2 {
    font-size: 16px;
    margin: 0;
    margin-left: 15px;
    font-weight: 300;
}

color-picker button {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 2px;
    border: none;
    outline: 1px solid white;
}

color-picker button.selected {
    outline: 3px solid white;
}

.color-picker-exterior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    opacity: 0;
    z-index: 1;
}

/* Inventory */

inventory-page.panel {
    --inventory-page-width: min(90svh, calc(100vw - 80px - 20px));
    position: fixed;
    top: calc((100svh - min(90svh, 90vw)) * 0.5 - 30px);
    left: calc(50vw - var(--inventory-page-width) * 0.5 - 10px + 30px);
    padding-top: 30px;
    width: var(--inventory-page-width);
    height: min(90svh, 90vw);
    font-family: Roboto;
    color: white;
    z-index: 3;
}

inventory-page .inventory-page-title {
    font-size: 20px;
    margin: 5px;
    position: absolute;
    left: min(20px);
    top: min(-24px);
    border: 2px solid white;
    border-radius: 5px;
    background-color: #272b2e;
    padding-left: 20px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 5px;
}

inventory-page .container-frame {
    height: calc(100% - 30px);
    overflow-y: auto;
    scrollbar-color: #272b2e rgba(255, 255, 255, 80%);
    scrollbar-width: thin;
    border: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

inventory-page .category-btn {
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 110px;
    text-align: center;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

inventory-page .category-btn.active {
    color: #272b2e;
    background-color: white;
    font-weight: bold;
}

inventory-page .line {
    font-size: 16px;
    height: 28px;
    padding-top: 2px;
    background-color: rgba(0, 0, 0, 10%);
    border-bottom: 1px solid #ffffff20;
}

inventory-page .line.highlit {
    background-color: rgba(255, 255, 255, 20%);
    outline: 1px solid white;
}

inventory-page .line .inventory-icon {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-right: 2px;
    height: 24px;
    border: 1px solid white;
    border-radius: 4px;
}

inventory-page .line .label {
    display: inline-block;
    margin-top: 3px;
    width: 45%;
}

inventory-page .line .count-block {
    display: inline-block;
    margin-top: 3px;
    width: 15%;
}

inventory-page .line .equip-button {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-size: 16px;
    height: 24px;
    margin-top: 2px;
    color: white;
    background-color: #272b2e;
    border: 1px solid white;
    border-radius: 4px;
}

.inventory-exterior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    opacity: 0;
    z-index: 2;
}


/* Travel */

travel-page.panel {
    position: fixed;
    top: calc((100svh - 300px) * 0.5);
    left: calc((100vw - 300px) * 0.5);
    padding-top: 30px;
    padding-bottom: 20px;
    width: 300px;
    height: fit-content;
    font-family: Roboto;
    color: white;
    z-index: 3;
    text-align: center;
}

travel-page .travel-page-title {
    font-size: 20px;
    margin: 5px;
    position: absolute;
    left: min(20px);
    top: min(-24px);
    border: 2px solid white;
    border-radius: 5px;
    background-color: #272b2e;
    padding-left: 20px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 5px;
}

travel-page .travel-label {
    display: block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 4px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
}

travel-page .travel-info {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 300;
    text-align: center;
    color: orange;
}

travel-page button {
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #272b2e;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
}

.travel-exterior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    opacity: 0;
    z-index: 2;
}